* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  input[type=radio]{
	display: none;
  }

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(80, 23, 133);
	color: #fff;
}

.wrapper {
	width: 80vw;
	max-width: 40rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background: #25665a;
  }

.slider-container{
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
	overflow: hidden;
	padding-bottom: 1rem;
  }

.common-container {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex
}

.slide {
	width: 20%;
	height: 100%;
	transition: all ease-out 0.5s;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
  
p {
	font-size: 1rem;
	margin-top: 0.5rem;
}

.slider-bullets-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	width: 50%;
}

.slider-bullet {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1rem;
	background: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.bullet {
	width: 1.5rem;
	height: 1.5rem;
	border: 0.1rem solid #FFF;
	border-radius: 1rem;
	transition: 0.5s;
}

.bullet:hover {
  background: #FFF;
}

#slider-bullet-1:checked~ .slider-container .slider-bullets-container #bullet1,
#slider-bullet-2:checked~ .slider-container .slider-bullets-container #bullet2,
#slider-bullet-3:checked~ .slider-container .slider-bullets-container #bullet3,
#slider-bullet-4:checked~ .slider-container .slider-bullets-container #bullet4,
#slider-bullet-5:checked~ .slider-container .slider-bullets-container #bullet5{
	background: rgb(92, 10, 77);
}



#slider-bullet-1:checked ~ .slider-container .slides .first-slide,
#slider-bullet-1:checked ~ .slider-container .text-container .firsttext {
	margin-left: 0;
}

#slider-bullet-2:checked ~ .slider-container .slides .first-slide,
#slider-bullet-2:checked ~ .slider-container .text-container .firsttext {
	margin-left: -20%;
}

#slider-bullet-3:checked ~ .slider-container .slides .first-slide,
#slider-bullet-3:checked ~ .slider-container .text-container .firsttext {
	margin-left: -40%;
}

#slider-bullet-4:checked ~ .slider-container .slides .first-slide,
#slider-bullet-4:checked ~ .slider-container .text-container .firsttext {
	margin-left: -60%;
}

#slider-bullet-5:checked ~ .slider-container .slides .first-slide,
#slider-bullet-5:checked ~ .slider-container .text-container .firsttext {
	margin-left: -80%;
}


.text-container {
	display: flex;
	width: 500%;
	transition: 0.5s;
	flex-shrink: 0.5;
}

.text-wrapper {
	width: 50%;
    overflow: hidden;
}

.slider-text {
	width: 20%;
	transition: 0.5s;
}


@media (max-width: 460px) {
	html {
	  font-size: 0.5rem;
	}
	.common-container {
		flex-direction: column;
	}
	.text-wrapper {
		width: 100%;
		order: 2;
	}
	.slider-bullets-container {
		width: 100%;
	}

}
  

